.card-3d {
  width: 180px;
  height: 16em;
  perspective: 800px;
  transform-origin: center 100px;
  padding: 3rem;
  margin-top: var(--top);
  transform: rotate(var(--angle, 0deg));
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}

.card-3d:hover .card-inner {
  transform: rotateY(180deg) scale(1.05);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 12px;
  overflow: hidden;
  background-color: var(--card-color, #0b5644);
  background-image: var(--card-image, none);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-front {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.card-back {
  transform: rotateY(180deg);
  background-color: #145c47;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-top: 0.5rem;
  width: 95%;
}

.card-upper-text {
  font-size: 0.75rem;
  color: lightgray;
  line-height: 2;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.card-number {
  font-size: 1rem;
  font-weight: 700;
  color: lightgray;
}


.card-text {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  text-align: center;
  font-size: 1rem;
  color: white;
  font-weight: 600;
  line-height: 1.5;
}