.page {
    background-color: #F8F3E1;
    height: 100%;
}

.card-section {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: absolute;
    top: 25%;
    left: 0%;
    width: 100%;
}