.page {
    background-color: #F8F3E1;
    height: 100%;
}

.card-section {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    animation: flip 1s ease both;
}

@keyframes flip {
    0% {
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: start;
    }

    100% {
        transform: translate(-50%, -50%);
    }
}